<div class="text-center">
    <h1><%= header %></h1>
    <p class="text-justify"><%= description %></p>
    <img src="/img/pic.jpg" alt="Orang" class="img-fluid rounded" style="height: 100px;">
</div>